/*Validation on notification */
#notifDiv {
    z-index: 10000;
    display: none;
    background: green;
    font-weight: 450;
    width: 350px;
    position: fixed;
    top: 80%;
    left: 5%;
    color: white;
    padding: 5px 20px;
}


.form-box {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.filter-box {
    margin-top:-18px;
}


.item-boxes {
    margin-top:50px;
}



.dropdown-menu {
    padding:10px 40px;
}


.dropdown-menu li {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}